<body class="site-body d-flex flex-column">
  <%= render 'layouts/navigation' %>
  <h2 class="text-center mt-4 head-purple"><%= @article.title %></h2>
  <div class="container">
    <div class="row mt-4 justify-content-md-center">
      <div class="col-9">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header">
            Created by: <%= @article.user.username if @article.user %>
          </div>
          <div class="card-body">
            <div class="card-text text-left"><%= simple_format(@article.description) %></div>
            <div class="article-btns">
              <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-outline-primary round-btn" %>
              <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete this article?"}, class:"btn btn-outline-danger round-btn" %>
            </div>
          </div>
          <div class="card-footer text-muted">
            <small>
               <%= time_ago_in_words(@article.created_at) %> ago, last updated: <%= time_ago_in_words(@article.updated_at) %> ago.</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
