<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="site-body">
    <div class='profile-frame'>
        <h1 class="sign-text" align="center"> <%= @user.username %>'s page</h1>
        <div class="gravatar" align="center">
          <%= gravatar_for @user, size: 150 %>
        </div>
        <h4 align="center" class="white-head"><%= @user.username %>'s articles</h4>
        <%= render 'articles/article', obj: @user.articles %>
        <div class="return" align='center'>
            <%= link_to 'Return to articles listing', articles_path %>
        </div>
      </div>
  </body>
</html>
